@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Sacramento&display=swap');

body {
    background-color: #8B0A58;
    font-family: Sacramento;
    color: #F7F700; 
    font-size: x-large;
    padding: 0;
    margin: 0;
}

button{
    background: #D4B413;
    margin: 10px;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    font-family: Roboto;
    border: none;
    border-radius: 4px;
    outline: none;
}

a {
    background-color: #8B0A58;
    text-decoration: none;
    padding: 5px 5px;
    color: #ffffff;
    font-family: Roboto;
    font-size: medium;
    font-weight: 600; 
    border-radius: 4px;
    margin:0;
    padding: 0;
    outline: none;
}

img {
    width: 22%;
} 

textarea {
    border-radius: 4px;
    margin:0;
    padding: 0;
    outline: none;
    border: 1px black;
    background-color: #ffffff;
    font-family: Roboto;
    font-weight: bold;
    color: #000000; 
    font-size: x-large;
    padding: 0;
    margin: 0;
      }

.secretImage {
    display: flex;
    flex-direction: column;
}

#secret {
    text-align: center;
    font-size: xx-large;
    border: dotted #F7F700;
    border-radius: 2px;
    margin: 10px 10px 10px 250px;
    padding: 25px 10px 25px 10px;
    outline: none;
    width: 50%;
}

.welcomeImage {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#welcome{
    margin: 20px 235px 10px 230px;
    padding: 110px 10px;
    text-align: center;
    border: dotted #F7F700;
    
}

.answerImage {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#answer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:10px 214px;
    padding: 2px 86px;
    text-align: center;
    border: dotted #F7F700;
}

#message{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 16px 210px;
    padding: 121px 95px;
    text-align: center;
    border: dotted #F7F700;
}

.mensajeReal {   
    height: 46pt;
    border-radius: 2px;
    border: 1px black;
    width: 94%;
    background-color: #ffffff;
    font-family: Roboto;
    font-weight: bold;
    color: #000000; 
    font-size: x-large;
    padding: 149px 5px 127px 0px;
    margin: 0px -17px 9px 15px;
  }

.secretMessageImage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 28px 74px 20px 25px;
} 

#secretMessage{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 15px 16px 9px 10px;
    margin: 18px 209px 16px 210px;
    text-align: center;
    border: dotted #F7F700;
}

.farewellImage {
    display: flex;
    flex-direction: row;
    justify-content: center;
} 

#farewell{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 8px 204px 56px 209px;
    padding: 130px 22px 111px 14px;
    text-align: center;
    border: dotted #F7F700;
}