@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Sacramento&display=swap');

body {
    background-color: #8B0A58;
    font-family: Sacramento;
    color: #F7F700; 
    font-size: x-large;
    padding: 0;
    margin: 0;
}

button{
    background: #D4B413;
    margin: 10px;
    padding: 6px;
    text-align: center;
    text-decoration: none;
    font-family: Roboto;
    border: none;
    border-radius: 4px;
    outline: none;
}

a {
    background-color: #8B0A58;
    text-decoration: none;
    padding: 5px 5px;
    color: #ffffff;
    font-family: Roboto;
    font-size: medium;
    font-weight: 600; 
    border-radius: 4px;
    margin:0;
    padding: 0;
    outline: none;
}

img {
    width: 35%;
} 

textarea {
    border-radius: 4px;
    margin:0;
    padding: 0;
    outline: none;
    border: 1px black;
    background-color: #ffffff;
    font-family: Roboto;
    font-weight: bold;
    color: #000000; 
    font-size: x-large;
    padding: 0;
    margin: 0;
      }

.secretImage {
    display: flex;
    flex-direction: column;
}

#secret {
    text-align: center;
    font-size: xx-large;
    border: dotted #F7F700;
    border-radius: 2px;
    Box-sizing: #secret;
    margin:0;
    padding: 0;
    outline: none;
}

.welcomeImage {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#welcome{
    margin:5px 10px;
    padding: 0px 300px;
    text-align: center;
    border: dotted #F7F700;
}

.answerImage {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#answer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:5px 10px;
    padding: 0px 300px;
    text-align: center;
    border: dotted #F7F700;
}

#message{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:5px 10px;
    padding: 0px 300px;
    text-align: center;
    border: dotted #F7F700;
}

.mensajeReal {   
    height: 46pt;
    border-radius: 2px;
    border: 1px black;
    width: 100%;
    background-color: #ffffff;
    font-family: Roboto;
    font-weight: bold;
    color: #000000; 
    font-size: x-large;
    padding: 0;
    margin: 0;
  }

.secretMessageImage {
    display: flex;
    flex-direction: row;
    justify-content: center;
} 

#secretMessage{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:5px 10px;
    padding: 0px 300px;
    text-align: center;
    border: dotted #F7F700;
}

.farewellImage {
    display: flex;
    flex-direction: row;
    justify-content: center;
} 

#farewell{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin:5px 10px;
    padding: 0px 300px;
    text-align: center;
    border: dotted #F7F700;
}